@import "../../../static/styles/helper";

.home-container{
  font-size: @font-20;
  width: 600px;
  padding: 20px;
}

.link-box{
  display: block;
  padding: 10px;
}

.article-detail {
  width: 75%;
  margin-top: 20px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 3px;
  background: white;
}

.sort-list {
  width: 25%;
  padding: 0 0 20px 40px;
  box-sizing: border-box;
  margin-top: 20px;
  h5 {
    height: 40px;
    line-height: 40px;
    font-size: @font-28;
    color: @state-tips;
  }
  ul {
    color: #777;
    text-shadow: 0 1px #fff;
    background: #ddd;
    box-shadow: 0 -1px 4px #ccc inset;
    padding: 15px;
    border-radius: 3px;
    li {
      line-height: 20px;
      word-wrap: break-word;
      font-size: @font-24;
      a {
        color: #258fb8;
      }
    }
  }
}

.publish-box {
  margin-top: 1rem!important;
  background: white;
  padding: .5rem 1rem;
  h3 {
    font-size: @font-32;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
  }
}
